# enumerating ALL dependencies, also extras, for both packages, for easy testing

# jottalib

requests
requests_toolbelt
certifi
python-dateutil
lxml
humanize

# jottacloudclient

clint
fusepy
watchdog
xattr

# test environment
pytest
