# enumerating ALL dependencies, also extras, for both packages for easy testing

# jottalib

requests
requests_toolbelt
certifi==2015.04.28
python-dateutil
lxml

# jottacloudclient

clint
fusepy
watchdog
xattr

# test environment
pytest
